@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    text-align: center;
    color:teal;
    font-size:3em;
}

input{
    width:85%;
    height:56px;
    font-size:1.8em;
    padding-left:.5em;
    font-family: "Montserrat",sans-serif;
    border-radius:10px 0 0 10px;
    border:1px solid brown;
    outline:none;
    color:brown;
    text-align: left;
    float:left;
}

button.anadir{
    width:10%;
    height:60px;
    font-size:2em;
    color:white;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    background-color: brown;
    border-radius: 0 10px 10px 0;
    border:none;
    outline:none;
    margin-left:-1em;
}

button.anadir:hover{
    background-color:red;
}

li{
    font-size:2em;
    color:teal;
    font-family:"Montserrat",sans-serif;
    margin-bottom:.5em;
}


a{
    border-radius:10px;
    color:white;
    padding:0 .5em;
    margin:.1em;
    font-size:.7em;
    border:none;
    outline:none;
    text-decoration: none;
}

a.menos{
    background-color: brown;
}

a.subir, a.bajar{
    background-color: darkgreen;
}
a:hover{
    background-color:red;
    color:white;
}
a.subir:hover, a.bajar:hover{
    background-color: green;
}
/* Para hacerlo más chulo
li a{
    display:none;
}
li:hover a{
    display:inline-block;
}*/